<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>TEMP</title>
    <script src="https://cdn.jsdelivr.net/npm/signature_pad@5.1.3/dist/signature_pad.umd.min.js"></script>
</head>

<body>
    <canvas id="input" height="500" width="500" style="background: navajowhite; outline: black 5px solid"></canvas>
    <button type="button" id="connect-strokes">Connect Strokes</button>
    <button type="button" id="merge-strokes">Merge Strokes</button>
    <script src="{{ url_for('static', path='/app.js') }}"></script>
    {% block output %}
    {% endblock %}
</body>

</html>